<div class="row">
    <div class="col-lg-6">

        <h4>Create a shortened URL</h4>
        <p>
            <ul>
                <li>Visit the Google URL shortener site at {{ options.domain_name }}.</li>
                <li>Write or paste your URL in the Paste your long URL here box.</li>
                <li>Click Shorten URL.</li>
            </ul>
        </p>

        <h4>API:</h4>
        <p><code>$ curl -XPOST -d "uri=http://google.com" {{ options.domain_name }}/_</code></p>
        <p><code>$ {{ options.domain_name }}/ab</code></p>
    </div>

    <div class="col-lg-6">
        <h4>Track the use of your URL:</h4>

        <p>For more detailed information about the URL’s use, add "+" to the end of your short URL. For example, detailed tracking for <strong>{{ options.domain_name }}/ab</strong> can be found at <strong>{{ options.domain_name }}/ab+</strong>.
        <p>Tracking for all goo.gl short links are publicly visible to all users.</p></p>
    </div>
</div>